Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/copyright.py
  language: system

cargo-sort-ck:
  name: sort-ck
  entry: cargo sort-ck -w
  language: system

ci: trigger ci build
  flock-function/src/aws/main.rs
Due: copyright_checker

update
  .github/workflows/rust.yml
Due: none

update
  .github/workflows/rust.yml
  benchmarks/Cargo.toml
  flock-function/Cargo.toml
  flock/Cargo.toml
Due: cargo-sort-ck

update
  .github/workflows/rust.yml
  benchmarks/Cargo.toml
  flock-function/Cargo.toml
  flock-function/src/aws/cloud_context.rs
  flock/Cargo.toml
Due: copyright_checker, cargo-sort-ck

ci: add cron job to build releases
  .github/workflows/scheduled-build.yml
Due: none

ci: last struggle, then give up
  .github/workflows/scheduled-build.yml
Due: none

update
  .github/workflows/scheduled-build.yml
Due: none

update
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
Due: none

fix: change cat >> to cat >
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
Due: none

give up arm64 musl
  .github/workflows/rust.yml
Due: none

ci: add arm targets (#429)
  .github/workflows/scheduled-build.yml
  benchmarks/Cargo.toml
  flock-function/Cargo.toml
  flock-function/src/aws/cloud_context.rs
  flock-function/src/aws/main.rs
  flock/Cargo.toml
Due: copyright_checker, cargo-sort-ck

feat: add mac os cross compilation
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
  scripts/aws_c6g_build_arm64.sh
  scripts/macos_cross_aarch4_linux_gnu.sh
  scripts/macos_cross_aarch4_linux_musl.sh
  scripts/macos_cross_x86_64_linux_gnu.sh
  scripts/macos_cross_x86_64_linux_musl.sh
Due: copyright_checker

feat: add mac os cross compilation (#430)
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
  scripts/aws_c6g_build_arm64.sh
  scripts/macos_cross_aarch4_linux_gnu.sh
  scripts/macos_cross_aarch4_linux_musl.sh
  scripts/macos_cross_x86_64_linux_gnu.sh
  scripts/macos_cross_x86_64_linux_musl.sh
Due: copyright_checker

ci: retry aarch64-unknown-linux-musl on mac os
  .cargo/config
  .github/workflows/rust.yml
Due: none

ci: trigger aarch64 musl build
  flock-function/src/aws/main.rs
Due: copyright_checker

ci:L cache homebrew
  .github/workflows/rust.yml
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh|java|yaml|rs)$
  cargo-sort-ck: any of: (Cargo.toml)$, but not: src/legacy
