Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

.pre-commit-config.yaml:

# Copyright (c) 2020-present, UMD Database Group.
#
# This program is free software: you can use, redistribute, and/or modify
# it under the terms of the GNU Affero General Public License, version 3
# or later ("AGPL"), as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: debug-statements
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: detect-private-key
      # - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
      - id: check-symlinks
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/wangkuiyi/google-style-precommit-hook
    rev: v0.1.1
    hooks:
      - id: google-style-java
        pass_filenames: false
  - repo: git://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        language: system
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/copyright.py
        language: system
        files: \.(go|py|sh|java|yaml|rs)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: src/tests/data/plan
        files: \.(md|css|yml|js)
  - repo: https://github.com/flock-lab/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--all-targets", "--", "-D", "clippy::all"]
  - repo: local
    hooks:
      - id: cargo-sort-ck
        name: sort-ck
        entry: cargo sort-ck -w # cargo install cargo-sort-ck
        language: system
        exclude: src/legacy
        files: (Cargo.toml)$

hotfix
  flock/src/state/s3.rs
Due: copyright_checker

feat: change arena hashmap to support dist shuffling
  flock-function/src/aws/actor.rs
  flock-function/src/aws/deprecated/lambda.rs
  flock-function/src/aws/s3/source.rs
  flock-function/src/aws/window.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/payload.rs
  flock/src/state/s3.rs
  flock/src/transmute.rs
Due: copyright_checker

fix: upgrade lambda runtime API and zstd
  flock-function/src/aws/deprecated/hello.rs
  flock-function/src/aws/deprecated/lambda.rs
  flock-function/src/aws/main.rs
  flock/Cargo.toml
  flock/src/encoding.rs
  flock/src/tests/nexmark.rs
  playground/src/scatter_gather_ops/gather.rs
  playground/src/scatter_gather_ops/scatter.rs
Due: copyright_checker, cargo-sort-ck

fix: filter empty input
  flock-function/src/aws/actor.rs
Due: copyright_checker

fix: assign function type: lambda or group
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
  benchmarks/src/nexmark/distributed.rs
  configure
  flock-function/src/aws/actor.rs
  flock/src/distributed_plan/stage.rs
  flock/src/encoding.rs
  flock/src/launcher/aws/mod.rs
  flock/src/prelude.rs
  flock/src/runtime/context.rs
Due: copyright_checker

fix: refine benchmark info
  benchmarks/src/nexmark/distributed.rs
  configure
Due: copyright_checker

feat: custom target partitions
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/distributed.rs
  benchmarks/src/nexmark/main.rs
  flock-cli/src/nexmark.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/mod.rs
Due: copyright_checker, cargo-sort-ck

fix: function retry after rate exceeded
  flock/src/aws/lambda.rs
Due: copyright_checker

fix: assign shuffle_id to new payload's seq_num
  flock-function/src/aws/actor.rs
  flock/src/runtime/context.rs
  flock/src/runtime/payload.rs
Due: copyright_checker

fix: refine bench output
  benchmarks/src/nexmark/distributed.rs
Due: copyright_checker

feat: distributed shuffling on cloud function services (#444)
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/distributed.rs
  benchmarks/src/nexmark/main.rs
  configure
  flock-cli/src/nexmark.rs
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/deprecated/hello.rs
  flock-function/src/aws/deprecated/lambda.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/s3/source.rs
  flock-function/src/aws/window.rs
  flock/Cargo.toml
  flock/src/aws/lambda.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/distributed_plan/stage.rs
  flock/src/launcher/aws/mod.rs
  flock/src/prelude.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/context.rs
  flock/src/runtime/payload.rs
  flock/src/state/s3.rs
  flock/src/tests/nexmark.rs
  flock/src/transmute.rs
  playground/src/scatter_gather_ops/gather.rs
  playground/src/scatter_gather_ops/scatter.rs
Due: copyright_checker, cargo-sort-ck

feat(cli): add s3 list and delete
  flock-cli/Cargo.toml
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
  flock/src/aws/s3.rs
Due: copyright_checker, cargo-sort-ck

fix: change discription
  configure
  flock-cli/src/s3.rs
Due: copyright_checker

feat(cli): add s3 list and delete (#446)
  configure
  flock-cli/Cargo.toml
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
  flock/src/aws/s3.rs
Due: copyright_checker, cargo-sort-ck

doc: add code of conduct
  CITATION.cff
  CODE_OF_CONDUCT.md
Due: none

doc: add code of conduct (#447)
  CITATION.cff
  CODE_OF_CONDUCT.md
Due: none

doc: hotfix
  CODE_OF_CONDUCT.md
Due: none

doc: title hotfix
  CITATION.cff
Due: none

doc: update readme
  README.md
Due: none

feat(state): optimize s3 state backend
  CODE_OF_CONDUCT.md
  README.md
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/aws/s3.rs
  flock/src/configs/flock.toml
  flock/src/datasink/mod.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/payload.rs
  flock/src/state/s3.rs
Due: copyright_checker

fix: reduce the maximum function duration
  flock/src/configs/flock.toml
Due: none

fix: add HashAggregateStatus
  flock-function/src/aws/actor.rs
  flock/src/prelude.rs
  flock/src/runtime/arena/mod.rs
Due: copyright_checker

fix: add PROCESSED_WINDOWS
  flock-function/src/aws/actor.rs
  flock/src/runtime/arena/mod.rs
Due: copyright_checker

feat(state): optimize s3 state backend (#449)
  CODE_OF_CONDUCT.md
  README.md
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/aws/s3.rs
  flock/src/configs/flock.toml
  flock/src/datasink/mod.rs
  flock/src/prelude.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/payload.rs
  flock/src/state/s3.rs
Due: copyright_checker

feat(playground): test arrow built-in json reader and writer
  playground/Cargo.toml
  playground/src/lib.rs
  playground/src/payload/mod.rs
Due: copyright_checker, cargo-sort-ck

feat(playground): test arrow built-in json reader and writer (#452)
  playground/Cargo.toml
  playground/src/lib.rs
  playground/src/payload/mod.rs
Due: copyright_checker, cargo-sort-ck

feat(arena): optimize data frame deserialization
  flock-function/src/aws/actor.rs
  flock/src/runtime/arena/mod.rs
Due: copyright_checker

fix: no serialization for response
  flock-function/src/aws/actor.rs
  flock-function/src/aws/nexmark/source.rs
Due: copyright_checker

feat(arena): optimize data frame deserialization (#453)
  flock-function/src/aws/actor.rs
  flock-function/src/aws/nexmark/source.rs
  flock/src/runtime/arena/mod.rs
Due: copyright_checker

fix(aws): add linear random backoff algorithm
  flock/src/aws/lambda.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
Due: copyright_checker

fix(aws): add linear random backoff algorithm (#454)
  flock/src/aws/lambda.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
Due: copyright_checker

feat(arch): add microbench to evaluate ops on x86_64 and arm64
  benchmarks/Cargo.toml
  benchmarks/src/arch/main.rs
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  flock-cli/src/arch.rs
  flock-cli/src/repl.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/arch/mod.rs
  flock-function/src/aws/arch/ops/filter.sql
  flock-function/src/aws/arch/ops/group-by.sql
  flock-function/src/aws/arch/ops/join.sql
  flock-function/src/aws/arch/ops/sort.sql
  flock-function/src/aws/arch/source.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/nexmark/source.rs
  flock/src/datasource/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker, cargo-sort-ck

fix: decrease the data size for unit test
  flock-function/src/aws/arch/source.rs
Due: copyright_checker

fix(cli): parse async type
  flock-cli/src/nexmark.rs
Due: copyright_checker

fix: clear unused modules
  flock-cli/src/arch.rs
Due: copyright_checker

feat(arch): add microbench to evaluate ops on x86_64 and arm64 (#455)
  benchmarks/Cargo.toml
  benchmarks/src/arch/main.rs
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  flock-cli/src/arch.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/repl.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/arch/mod.rs
  flock-function/src/aws/arch/ops/filter.sql
  flock-function/src/aws/arch/ops/group-by.sql
  flock-function/src/aws/arch/ops/join.sql
  flock-function/src/aws/arch/ops/sort.sql
  flock-function/src/aws/arch/source.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/nexmark/source.rs
  flock/src/datasource/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker, cargo-sort-ck

feat(configure): add option to disable handwritten arrow kernels
  configure
Due: none

feat(configure): add option to disable handwritten arrow kernels (#456)
  configure
Due: none

fix: typo in configure
  configure
Due: none

refactor(window): to make it more readable
  flock-function/Cargo.toml
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window.rs
  flock-function/src/aws/window/elementwise.rs
  flock-function/src/aws/window/global.rs
  flock-function/src/aws/window/hopping.rs
  flock-function/src/aws/window/mod.rs
  flock-function/src/aws/window/session.rs
  flock-function/src/aws/window/tumbling.rs
  flock-function/src/aws/ysb/source.rs
  flock/Cargo.toml
Due: copyright_checker, cargo-sort-ck
