Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

.pre-commit-config.yaml:

# Copyright (c) 2020-present, UMD Database Group.
#
# This program is free software: you can use, redistribute, and/or modify
# it under the terms of the GNU Affero General Public License, version 3
# or later ("AGPL"), as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: debug-statements
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: detect-private-key
      # - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
      - id: check-symlinks
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/wangkuiyi/google-style-precommit-hook
    rev: v0.1.1
    hooks:
      - id: google-style-java
        pass_filenames: false
  - repo: git://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        language: system
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/copyright.py
        language: system
        files: \.(go|py|sh|java|yaml|rs)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: src/tests/data/plan
        files: \.(md|css|yml|js)
  - repo: https://github.com/flock-lab/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--all-targets", "--", "-D", "clippy::all"]
  - repo: local
    hooks:
      - id: cargo-sort-ck
        name: sort-ck
        entry: cargo sort-ck -w # cargo install cargo-sort-ck
        language: system
        exclude: src/legacy
        files: (Cargo.toml)$

feat: enable ARM-based Lambda
  .pre-commit-config.yaml
  README.md
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/Cargo.toml
  flock-cli/src/nexmark.rs
  flock-cli/src/ysb.rs
  flock-function/Cargo.toml
  flock/Cargo.toml
  flock/src/configs/aws_lambda.rs
  flock/src/driver/deploy/mod.rs
  flock/src/services.rs
  flock_bench.sh
  playground/Cargo.toml
  scripts/build_arm64.sh
Due: copyright_checker, cargo-sort-ck

feat: enable ARM-based Lambda (#413)
  .pre-commit-config.yaml
  README.md
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/Cargo.toml
  flock-cli/src/nexmark.rs
  flock-cli/src/ysb.rs
  flock-function/Cargo.toml
  flock/Cargo.toml
  flock/src/configs/aws_lambda.rs
  flock/src/driver/deploy/mod.rs
  flock/src/services.rs
  flock_bench.sh
  playground/Cargo.toml
  scripts/build_arm64.sh
Due: copyright_checker, cargo-sort-ck

fix: enable arm64 lambda function
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-function/src/aws/main.rs
  flock/src/configs/aws_lambda.rs
  flock/src/configs/flock.toml
  flock/src/services.rs
  flock_bench.sh
  scripts/build_arm64.sh
Due: copyright_checker

docs: update readme
  README.md
  configure
Due: none

fix: enable arm64 lambda function (#414)
  README.md
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  configure
  flock-function/src/aws/main.rs
  flock/src/configs/aws_lambda.rs
  flock/src/configs/flock.toml
  flock/src/services.rs
  scripts/build_arm64.sh
Due: copyright_checker

refactor: aws service wrapper
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  benchmarks/src/ysb/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/aws/cloudwatch.rs
  flock/src/aws/dynamodb.rs
  flock/src/aws/efs.rs
  flock/src/aws/lambda.rs
  flock/src/aws/mod.rs
  flock/src/aws/s3.rs
  flock/src/aws/sqs.rs
  flock/src/configs/mod.rs
  flock/src/datasink/mod.rs
  flock/src/driver/deploy/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/runtime/context.rs
  flock/src/services.rs
Due: copyright_checker

fix: mv monitor to aws::cloudwatch
  flock/src/driver/mod.rs
  flock/src/driver/monitor/cloudwatch.rs
  flock/src/driver/monitor/mod.rs
Due: copyright_checker

refactor: aws service wrapper (#415)
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  benchmarks/src/ysb/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/aws/cloudwatch.rs
  flock/src/aws/dynamodb.rs
  flock/src/aws/efs.rs
  flock/src/aws/lambda.rs
  flock/src/aws/mod.rs
  flock/src/aws/s3.rs
  flock/src/aws/sqs.rs
  flock/src/configs/mod.rs
  flock/src/datasink/mod.rs
  flock/src/driver/deploy/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/runtime/context.rs
  flock/src/services.rs
Due: copyright_checker

refactor!: add distributed_plan module
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  flock/Cargo.toml
  flock/src/aws/efs.rs
  flock/src/datasource/nexmark/event.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/distributed_plan/memory_stream.rs
  flock/src/distributed_plan/mod.rs
  flock/src/distributed_plan/nexmark/q1.dag
  flock/src/distributed_plan/nexmark/q10.dag
  flock/src/distributed_plan/nexmark/q11.dag
  flock/src/distributed_plan/nexmark/q12.dag
  flock/src/distributed_plan/nexmark/q13.dag
  flock/src/distributed_plan/nexmark/q2.dag
  flock/src/distributed_plan/nexmark/q3.dag
  flock/src/distributed_plan/nexmark/q4.dag
  flock/src/distributed_plan/nexmark/q5.dag
  flock/src/distributed_plan/nexmark/q6.dag
  flock/src/distributed_plan/nexmark/q7.dag
  flock/src/distributed_plan/nexmark/q8.dag
  flock/src/distributed_plan/nexmark/q9.dag
  flock/src/distributed_plan/planner.rs
  flock/src/distributed_plan/shuffle_writer.rs
  flock/src/lib.rs
  flock/src/runtime/context.rs
Due: copyright_checker, cargo-sort-ck

refactor!: add distributed_plan module (#416)
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  flock/Cargo.toml
  flock/src/aws/efs.rs
  flock/src/datasource/nexmark/event.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/distributed_plan/memory_stream.rs
  flock/src/distributed_plan/mod.rs
  flock/src/distributed_plan/nexmark/q1.dag
  flock/src/distributed_plan/nexmark/q10.dag
  flock/src/distributed_plan/nexmark/q11.dag
  flock/src/distributed_plan/nexmark/q12.dag
  flock/src/distributed_plan/nexmark/q13.dag
  flock/src/distributed_plan/nexmark/q2.dag
  flock/src/distributed_plan/nexmark/q3.dag
  flock/src/distributed_plan/nexmark/q4.dag
  flock/src/distributed_plan/nexmark/q5.dag
  flock/src/distributed_plan/nexmark/q6.dag
  flock/src/distributed_plan/nexmark/q7.dag
  flock/src/distributed_plan/nexmark/q8.dag
  flock/src/distributed_plan/nexmark/q9.dag
  flock/src/distributed_plan/planner.rs
  flock/src/distributed_plan/shuffle_writer.rs
  flock/src/lib.rs
  flock/src/runtime/context.rs
Due: copyright_checker, cargo-sort-ck

fix: add q4 dag info
  flock/src/distributed_plan/nexmark/q1.dag
  flock/src/distributed_plan/nexmark/q4.dag
  flock/src/distributed_plan/nexmark/q6.dag
Due: none

fix: add q4 dag info (#417)
  flock/src/distributed_plan/nexmark/q1.dag
  flock/src/distributed_plan/nexmark/q4.dag
  flock/src/distributed_plan/nexmark/q6.dag
Due: none

feat: add ysb query's distributed plan
  benchmarks/src/ysb/main.rs
  flock/src/datasource/ysb/mod.rs
  flock/src/distributed_plan/planner.rs
  flock/src/distributed_plan/ysb/ysb.dag
Due: copyright_checker

feat: add ysb query's distributed plan (#418)
  benchmarks/src/ysb/main.rs
  flock/src/datasource/ysb/mod.rs
  flock/src/distributed_plan/planner.rs
  flock/src/distributed_plan/ysb/ysb.dag
Due: copyright_checker

refactor!: add launcher for different function services
  benchmarks/Cargo.toml
  flock-cli/Cargo.toml
  flock-function/Cargo.toml
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/lib.rs
  flock/Cargo.toml
  playground/Cargo.toml
Due: copyright_checker, cargo-sort-ck

refactor!: add launcher for different function services (#422)
  benchmarks/Cargo.toml
  flock-cli/Cargo.toml
  flock-function/Cargo.toml
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/lib.rs
  flock/Cargo.toml
  playground/Cargo.toml
Due: copyright_checker, cargo-sort-ck

refactor!: add stage module in distributed plan
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/distributed_plan/memory_stream.rs
  flock/src/distributed_plan/mod.rs
  flock/src/distributed_plan/planner.rs
  flock/src/distributed_plan/shuffle_writer.rs
  flock/src/distributed_plan/stage.rs
  flock/src/driver/deploy/mod.rs
  flock/src/driver/funcgen/dag.rs
  flock/src/driver/funcgen/function.rs
  flock/src/driver/mod.rs
  flock/src/error.rs
  playground/src/distributed_plan/nexmark/q1.dag
  playground/src/distributed_plan/nexmark/q10.dag
  playground/src/distributed_plan/nexmark/q11.dag
  playground/src/distributed_plan/nexmark/q12.dag
  playground/src/distributed_plan/nexmark/q13.dag
  playground/src/distributed_plan/nexmark/q2.dag
  playground/src/distributed_plan/nexmark/q3.dag
  playground/src/distributed_plan/nexmark/q4.dag
  playground/src/distributed_plan/nexmark/q5.dag
  playground/src/distributed_plan/nexmark/q6.dag
  playground/src/distributed_plan/nexmark/q7.dag
  playground/src/distributed_plan/nexmark/q8.dag
  playground/src/distributed_plan/nexmark/q9.dag
  playground/src/distributed_plan/ysb/ysb.dag
Due: copyright_checker

fix: ysb assert typo
  flock/src/distributed_plan/planner.rs
Due: copyright_checker

refactor!: add stage module in distributed plan (#423)
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/distributed_plan/memory_stream.rs
  flock/src/distributed_plan/mod.rs
  flock/src/distributed_plan/planner.rs
  flock/src/distributed_plan/shuffle_writer.rs
  flock/src/distributed_plan/stage.rs
  flock/src/driver/deploy/mod.rs
  flock/src/driver/funcgen/dag.rs
  flock/src/driver/funcgen/function.rs
  flock/src/driver/mod.rs
  flock/src/error.rs
  playground/src/distributed_plan/nexmark/q1.dag
  playground/src/distributed_plan/nexmark/q10.dag
  playground/src/distributed_plan/nexmark/q11.dag
  playground/src/distributed_plan/nexmark/q12.dag
  playground/src/distributed_plan/nexmark/q13.dag
  playground/src/distributed_plan/nexmark/q2.dag
  playground/src/distributed_plan/nexmark/q3.dag
  playground/src/distributed_plan/nexmark/q4.dag
  playground/src/distributed_plan/nexmark/q5.dag
  playground/src/distributed_plan/nexmark/q6.dag
  playground/src/distributed_plan/nexmark/q7.dag
  playground/src/distributed_plan/nexmark/q8.dag
  playground/src/distributed_plan/nexmark/q9.dag
  playground/src/distributed_plan/ysb/ysb.dag
Due: copyright_checker

feat!: add local launcher interface
  flock-function/Cargo.toml
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/lib.rs
  flock-function/src/local.rs
  flock/src/datasource/mod.rs
  flock/src/prelude.rs
  flock/src/query.rs
Due: copyright_checker, cargo-sort-ck

feat!: add local launcher interface (#425)
  flock-function/Cargo.toml
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/lib.rs
  flock-function/src/local.rs
  flock/src/datasource/mod.rs
  flock/src/prelude.rs
  flock/src/query.rs
Due: copyright_checker, cargo-sort-ck

refactor!: impl aws launcher
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/local.rs
  flock/src/distributed_plan/mod.rs
  flock/src/distributed_plan/planner.rs
  flock/src/query.rs
Due: copyright_checker

fix: clean cloud execution context
  flock-function/src/aws/main.rs
  flock/src/configs/aws_lambda.rs
  flock/src/prelude.rs
  flock/src/runtime/context.rs
Due: copyright_checker

refactor!: create cloud context for each query stage in the DAG
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  benchmarks/src/ysb/main.rs
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/local.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q12.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/query.rs
  flock/src/deprecated/executor/mod.rs
  flock/src/deprecated/executor/plan.rs
  flock/src/distributed_plan/stage.rs
  flock/src/prelude.rs
  flock/src/query.rs
  flock/src/runtime/context.rs
  flock/src/runtime/mod.rs
  flock/src/runtime/plan.rs
  flock/src/tests/mod.rs
Due: copyright_checker, cargo-sort-ck

feat!: add aws launcher test for cloud context creation
  flock-function/src/aws/mod.rs
  flock/src/distributed_plan/stage.rs
  flock/src/runtime/plan.rs
Due: copyright_checker

fix: refine output
  flock-function/src/aws/mod.rs
Due: copyright_checker

feat: add different sink types in aws lambda launcher
  flock-function/src/aws/mod.rs
  flock-function/src/local.rs
  flock/src/query.rs
Due: copyright_checker

feat: add test to execute DAG stages
  flock-function/src/aws/mod.rs
Due: copyright_checker

refactor!: impl aws launcher - part 2
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/local.rs
  flock/Cargo.toml
  flock/src/driver/funcgen/function.rs
  flock/src/prelude.rs
  flock/src/query.rs
  flock/src/runtime/context.rs
Due: copyright_checker, cargo-sort-ck

fix: refine code
  flock-function/src/aws/mod.rs
  flock/src/configs/flock.toml
  flock/src/distributed_plan/stage.rs
Due: copyright_checker

refactor!: impl aws launcher - part 2 (#427)
  flock-function/src/aws/mod.rs
  flock-function/src/azure/mod.rs
  flock-function/src/gcp/mod.rs
  flock-function/src/launcher.rs
  flock-function/src/local.rs
  flock/Cargo.toml
  flock/src/configs/flock.toml
  flock/src/distributed_plan/stage.rs
  flock/src/driver/funcgen/function.rs
  flock/src/prelude.rs
  flock/src/query.rs
  flock/src/runtime/context.rs
Due: copyright_checker, cargo-sort-ck

feat: new nexmark skeleton for distributed query processing
  benchmarks/src/nexmark/centralized.rs
  benchmarks/src/nexmark/distributed.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/rainbow.rs
  flock-cli/src/nexmark.rs
  flock-function/Cargo.toml
  flock-function/src/lib.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/azure/mod.rs
  flock/src/launcher/gcp/mod.rs
  flock/src/launcher/local.rs
  flock/src/launcher/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
Due: copyright_checker, cargo-sort-ck

feat: create dag functions for nexmark bench
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/distributed.rs
Due: copyright_checker, cargo-sort-ck

feat: refactor flock function for dist query processing
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/distributed.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/cloud_context.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/s3/source.rs
  flock-function/src/aws/window.rs
Due: copyright_checker, cargo-sort-ck

feat: new nexmark skeleton for distributed query processing (#428)
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/centralized.rs
  benchmarks/src/nexmark/distributed.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/rainbow.rs
  flock-cli/src/nexmark.rs
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/cloud_context.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/s3/source.rs
  flock-function/src/aws/window.rs
  flock-function/src/lib.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/azure/mod.rs
  flock/src/launcher/gcp/mod.rs
  flock/src/launcher/local.rs
  flock/src/launcher/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
Due: copyright_checker, cargo-sort-ck

ci: add arm targets
  .github/workflows/rust.yml
Due: none

update
  .github/workflows/rust.yml
Due: none
