Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

.pre-commit-config.yaml:

# Copyright (c) 2020-present, UMD Database Group.
#
# This program is free software: you can use, redistribute, and/or modify
# it under the terms of the GNU Affero General Public License, version 3
# or later ("AGPL"), as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: debug-statements
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: detect-private-key
      # - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
      - id: check-symlinks
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/wangkuiyi/google-style-precommit-hook
    rev: v0.1.1
    hooks:
      - id: google-style-java
        pass_filenames: false
  - repo: git://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        language: system
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/copyright.py
        language: system
        files: \.(go|py|sh|java|yaml|rs)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: src/tests/data/plan
        files: \.(md|css|yml|js)
  - repo: https://github.com/flock-lab/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--all-targets", "--", "-D", "clippy::all"]
  - repo: local
    hooks:
      - id: cargo-sort-ck
        name: sort-ck
        entry: cargo sort-ck -w # cargo install cargo-sort-ck
        language: system
        exclude: src/legacy
        files: (Cargo.toml)$

refactor(window): to make it more readable (#457)
  flock-function/Cargo.toml
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window.rs
  flock-function/src/aws/window/elementwise.rs
  flock-function/src/aws/window/global.rs
  flock-function/src/aws/window/hopping.rs
  flock-function/src/aws/window/mod.rs
  flock-function/src/aws/window/session.rs
  flock-function/src/aws/window/tumbling.rs
  flock-function/src/aws/ysb/source.rs
  flock/Cargo.toml
Due: copyright_checker, cargo-sort-ck

fix: large plan in s3 as a fallback
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/runtime/plan.rs
Due: copyright_checker

fix: large plan in s3 as a fallback (#458)
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/runtime/plan.rs
Due: copyright_checker

fix(bench): add nexmark q9 plan in s3
  benchmarks/src/nexmark/main.rs
  flock/src/configs/flock.toml
Due: copyright_checker

fix(bench): add nexmark q9 plan in s3 (#459)
  benchmarks/src/nexmark/main.rs
  flock/src/configs/flock.toml
Due: copyright_checker

fix: nexmark queries
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  flock-function/src/aws/window/session.rs
Due: copyright_checker

fix: revert
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
Due: copyright_checker

fix: nexmark queries (#461)
  benchmarks/src/nexmark/main.rs
  benchmarks/src/s3/main.rs
  flock-function/src/aws/window/session.rs
Due: copyright_checker

fix(payload): keep schema in payload if data is mepty
  flock-cli/src/nexmark.rs
  flock-function/src/aws/actor.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

feat: improve consistent hashing
  flock-function/src/aws/actor.rs
Due: copyright_checker

typo
  flock-function/src/aws/actor.rs
Due: copyright_checker

fix: calculate the total billed duration
  scripts/cloudwatch_log.sh
Due: copyright_checker

fix(payload): keep schema in payload if data is empty (#462)
  flock-cli/src/nexmark.rs
  flock-function/src/aws/actor.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/context.rs
  scripts/cloudwatch_log.sh
Due: copyright_checker

feat(ysb): dist ysb benchmark
  benchmarks/src/ysb/centralized.rs
  benchmarks/src/ysb/distributed.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/ysb.rs
  flock/src/datasource/ysb/mod.rs
Due: copyright_checker

fix: ysb dist data flow
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window/mod.rs
  flock-function/src/aws/window/tumbling.rs
  flock-function/src/aws/ysb/source.rs
Due: copyright_checker

feat(ysb): dist ysb benchmark (#464)
  benchmarks/src/ysb/centralized.rs
  benchmarks/src/ysb/distributed.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/ysb.rs
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window/mod.rs
  flock-function/src/aws/window/tumbling.rs
  flock-function/src/aws/ysb/source.rs
  flock/src/datasource/ysb/mod.rs
Due: copyright_checker

Update scheduled-build.yml
  .github/workflows/scheduled-build.yml
Due: none

Update README.md
  README.md
Due: none

fix: use main branch for aws-lambda repo
  flock-function/Cargo.toml
  flock/Cargo.toml
  playground/Cargo.toml
Due: cargo-sort-ck

Delete flock.png
  docs/img/flock.png
Due: none

Delete flock2.png
  docs/img/flock2.png
Due: none

fix: use main branch for aws-lambda repo (#469)
  flock-function/Cargo.toml
  flock/Cargo.toml
  playground/Cargo.toml
Due: cargo-sort-ck

Delete flock2.png
  flock2.png
Due: none
