Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/copyright.py
  language: system

cargo-sort-ck:
  name: sort-ck
  entry: cargo sort-ck -w
  language: system

fix: disable for now
  .github/workflows/rust.yml
Due: none

fix: run at minute 0 past every 2nd hour for cron job
  .github/workflows/scheduled-build.yml
Due: none

update
  .github/workflows/scheduled-build.yml
  header
Due: none

ci: update cron job (#431)
  .cargo/config
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
  flock-function/src/aws/main.rs
  header
Due: copyright_checker

Update scheduled-build.yml
  .github/workflows/scheduled-build.yml
Due: none

fix: aarch64-linux-gnu-strip remove symbols
  .github/workflows/scheduled-build.yml
  scripts/rainbow.sh
Due: copyright_checker

fix: aarch64-linux-gnu-strip remove symbols (#432)
  .github/workflows/scheduled-build.yml
  scripts/rainbow.sh
Due: copyright_checker

test: compare local and dist query result
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

fix: cargo fmt and clippy
  .github/workflows/rust.yml
  flock-function/src/aws/main.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

test: compare local and dist query result (#434)
  .github/workflows/rust.yml
  flock-function/src/aws/main.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

ci: remove deps for deploy job
  .github/workflows/scheduled-build.yml
Due: none

fix: invalid image links
  playground/README.md
Due: none

fix: invalid image links (#436)
  playground/README.md
Due: none

feat: distributed flock functions for nexmark
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/s3/source.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/ysb/ysb.rs
Due: copyright_checker

feat: distributed flock functions for nexmark (#437)
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/s3/source.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/ysb/ysb.rs
Due: copyright_checker

feat: distributed dataflow pipeline
  .github/workflows/scheduled-build.yml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
Due: copyright_checker

fix: pipeline concurrency
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/runtime/payload.rs
Due: copyright_checker

fix: set a nightly rust version for now
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
Due: none

update
  .github/workflows/rust.yml
  .github/workflows/scheduled-build.yml
Due: none

feat: distributed dataflow pipeline (#439)
  .github/workflows/scheduled-build.yml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/runtime/payload.rs
Due: copyright_checker

feat: add state module to manage the query states
  flock-function/src/aws/cloud_context.rs
  flock/src/lib.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

refine trait function `name()`
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

fix: add state in cloud context
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock/src/launcher/aws/mod.rs
  flock/src/runtime/context.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

fix: integrate state backend into flock
  benchmarks/src/nexmark/distributed.rs
  benchmarks/src/nexmark/main.rs
  flock-cli/src/nexmark.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/azure/mod.rs
  flock/src/launcher/gcp/mod.rs
  flock/src/launcher/local.rs
  flock/src/launcher/mod.rs
  flock/src/prelude.rs
  flock/src/query.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

fix: clean data sources in the contex after execution
  flock-function/src/aws/cloud_context.rs
  flock/src/launcher/aws/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

fix: avoid deep copy when use feed_data_sources()
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/local.rs
  flock/src/runtime/context.rs
Due: copyright_checker

feat: add S3StateBackend::write
  flock/src/aws/s3.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

feat: more utilities for s3 state backend
  flock/src/aws/s3.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

feat: add read states for s3 state backend
  flock/src/aws/s3.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

feat: support stateful stream processing
  flock-function/src/aws/window.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

fix: save states at wrong place
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
Due: copyright_checker

feat: read s3 in aggregate function if need
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/runtime/arena/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

fix: one partition may be empty
  flock-function/src/aws/actor.rs
Due: copyright_checker

feat: add state module to manage the query states (#440)
  benchmarks/src/nexmark/distributed.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/nexmark.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/cloud_context.rs
  flock-function/src/aws/window.rs
  flock/src/aws/s3.rs
  flock/src/launcher/aws/mod.rs
  flock/src/launcher/azure/mod.rs
  flock/src/launcher/gcp/mod.rs
  flock/src/launcher/local.rs
  flock/src/launcher/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/query.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/context.rs
  flock/src/state/efs.rs
  flock/src/state/mod.rs
  flock/src/state/s3.rs
Due: copyright_checker

test: add aws_launcher_nexmark_q4_shuffle
  flock-function/src/aws/actor.rs
  flock/src/launcher/aws/mod.rs
Due: copyright_checker

test: add aws_launcher_nexmark_ysb_hash_join
  flock/src/launcher/aws/mod.rs
Due: copyright_checker

test: nexmark q4 and ysb in distributed mode (#442)
  flock-function/src/aws/actor.rs
  flock/src/launcher/aws/mod.rs
Due: copyright_checker

test: dist hash join with sort
  flock/src/launcher/aws/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

test: dist hash join with sort (#443)
  flock/src/launcher/aws/mod.rs
  flock/src/runtime/context.rs
Due: copyright_checker

feat: distributed shuffling on cloud function services
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock/src/distributed_plan/stage.rs
  flock/src/runtime/context.rs
  flock/src/runtime/payload.rs
  flock/src/state/s3.rs
Due: copyright_checker, cargo-sort-ck

Path conditions:
  copyright_checker: any of: \.(go|py|sh|java|yaml|rs)$
  cargo-sort-ck: any of: (Cargo.toml)$, but not: src/legacy
